body {
    background: darkslategray;
}
input {
    font-size: 30px;
}
h1 {
    text-align: left;
    font-family: "Arial Black";
}
#box {
    font-size: 32px;
}
#titel {
    text-align: center;
    font-size: 100px;
    font-family: "Arial Black";
}
#ganz {
    background-color: white;
    padding: 3rem;
    width: 450px;
    border-radius: 15px;
}
#ganzganz {
    display: flex;
    justify-content: center;
    align-items: center;
}
